* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.navbar,
header {
background-color: #1f2937;
}

body {
display: flex;
flex-direction: column;
background-color: white;
font-family: Arial, Helvetica, sans-serif
    
}

/* div {
 border: 2px solid red;
} */

.logo {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
margin: 0 15%;
padding: 25px 20px;
}

.logo strong {
font-size: 24px;
color: #F9FAF8
}

ul {
list-style: none;
display: flex;
gap: 26px;
}

a {
text-decoration: none;
color: white;
}

img {
width: 500px;
height: 500px;
border: 2px solid black;
}

.img {
  align-self: flex-end;
}

.main {
display: flex;
justify-content: space-between;
margin: 100px 15%;
}

.text {
width: 50%;
}

h1 {
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
margin: 0 20px;
}

p {
font-size: 18px;
color: #E5E7EB;
}

.main p {
  padding-top: 20px;
margin: 0 20px;
}

.button {
 margin: 15px 20px;
}
   
button {
background-color: #3882F6;
color: white;
padding: 10px 40px;
border-radius: 8%;
border: none;
font-size: 20px;
}

.information {
 font-size: 30px;
 font-weight: bolder;
 color: #1f2937;
 display: flex;
 justify-content: center;
 margin: 40px;
}


.middle {
display: flex;
justify-content: center;
align-items: center;
}

.imgtxt img {
width: 150px;
height: 150px;
border-radius: 10%;
border: 3px solid #3882f6; 
}

.imgtxt {
 display: flex;
 justify-content: center;   
 align-items: center;
 flex-direction: column;
 gap: 20px;
 width: 200px;
 padding-bottom: 100px;
}

.middle .text {
 width: 150px;
}

.middler {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.middler p {
 color: #1f2937;
 font-size: 36px;
 font-style: italic;
 width: 750px;
 
}

.thor {
display: flex;
justify-content: flex-end;
font-size: 22px;
font-style: italic;
color: #1f2937;
padding: 30px 0px;
}

.end {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.signup {
  background-color: #3882F6;
  height: 125px;
  width: 900px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  
}

.signuptxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 650px;
  padding: 10px 90px;
}

.signuptxt h3 {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bolder;
}

.signuptxt p {
  color: #E5E7EB;
  font-size: 15px;
}

.footer {
  background-color: #1f2937;
  height: 80px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.endbutton button {
  border: 2px solid white;
  margin-right: 100px;
  margin-top: 10px;
  padding: 7px 25px;
  border-radius: 8px;
  font-size: 15px;
}