* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    
}

div {
 border: 2px solid red;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 15%;
    color: white;
}



ul {
    list-style: none;
    display: flex;
    gap: 26px;
}

a {
text-decoration: none;
color: white;
}

.main {
    justify-content: space-between;
    margin: 5% 15%;
}

img {
    width: 400px;
    height: 400px;
}

.button {
}


.container1 {

}