* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.navbar,
header {
background-color: #1f2937;
}

body {
display: flex;
flex-direction: column;
background-color: white;
    
}

/* div {
 border: 2px solid red;
} */

.logo {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
margin: 0 15%;
padding: 10px 0px;
}

.logo strong {
font-size: 24px;
color: #F9FAF8
}

ul {
list-style: none;
display: flex;
gap: 26px;
}

a {
text-decoration: none;
color: white;
}

img {
width: 500px;
height: 500px;
border: 2px solid black;
}

.img {
  align-self: flex-end;
}

.main {
display: flex;
justify-content: space-between;
margin: 100px 15%;
}

.text {
width: 50%;
}

h1 {
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
}

p {
font-size: 18px;
color: #E5E7EB;
}

.button {
 margin: 15px 0;
}
   
button {
background-color: #3882F6;
color: white;
padding: 10px 20px;
border-radius: 8%;
border: none;
}

.information {
 font-size: 30px;
 font-weight: bolder;
 color: #1f2937;
 display: flex;
 justify-content: center;
 margin: 40px;
}


.middle {
display: flex;
justify-content: center;
align-items: center;
}

.imgtxt img {
width: 150px;
height: 150px;
border-radius: 10%;
border: 3px solid #3882f6; 
}

.imgtxt {
 display: flex;
 justify-content: center;   
 align-items: center;
 flex-direction: column;
 gap: 20px;
 width: 200px;
 padding-bottom: 100px;
}

.middle .text {
 width: 150px;
}

.end {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.end p {
 color: #1f2937;
 font-size: 36px;
 font-style: italic;
 width: 700px;
 
}

.thor {
display: flex;
justify-content: flex-end;
font-size: 22px;
font-style: italic;
color: #1f2937;
padding-top: 10px;
}